{{ define "main" }}

<h1 class="mb-5 is-uppercase">Projects</h1>

<div>
    {{ range .Pages }}
    <article class="media">
        <div class="media-left mr-5">
            <p class="is-size-7 has-text-weight-light has-text-info">
                {{ if ne .Params.completed nil }}
                {{ dateFormat "Jan" .Params.completed }}
                <br>
                {{ dateFormat "2006" .Params.completed }}
                {{ else }}
                {{ dateFormat "Jan" .Params.started }}
                <br>
                {{ dateFormat "2006" .Params.started }}
                {{ end }}
        </div>
        <div class="media-content content is-clipped">
            <div class="level is-mobile mb-2">
                <h2 class="level-left mb-2 overflow-fix">
                    <a class="has-text-success" href="{{.RelPermalink }}">{{ .Title }}</a>
                </h2>
            </div>
            <p>{{ .Params.Description }} </p>
        </div>
    </article>
    {{ end }}
</div>

{{ end }}