<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  {{ $style := resources.Get "/oakst.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink | relURL }}" />
  <title>{{ .Title }} | Oak St. Electronics </title>
</head>

<body>


  <div class="section main-wrapper">

    <div class="container">

      <div class="columns">
        <nav class="column is-one-fifth ">
          <div class="is-sticky">
          {{ partial "nav.html" . }}
          </div>
        </nav>

        <main class="column content">
          {{block "main" . }} {{ end }}
        </main>

        <aside class="column is-one-fifth">
          <div class="is-sticky">
          {{ partial "tagbar.html" . }}
          </div>
        </aside>
      </div>
    </div>
  </div>

  <footer class="footer content has-text-centered is-size-7">
      <p >
          &copy;	Jake Jones // Oak St. Electronics
      </p>
      <p>Text and images licensed under 
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
      </p>
      <p>
        Source code licensed under <a href="https://opensource.org/licenses/MIT">MIT</a>.
      </p>
  </footer>

</body>

</html>