@charset "utf-8";


$turquoise: #2a9d8f;
$blue: #264653;

$jet: #36312fff;
$may-green: #5d9b51ff;
$pictorial-carmine: #b72b4eff;
$blue-yonder: #54739aff;
$copper-red: #c3704dff;
$timberwolf: #d0cbc1ff;
$tart-orange: #f0544fff;

$black0: hsl(0, 0%, 4%);
$black1: hsl(0, 0%, 7%);
$black2: hsl(0, 0%, 14%);
$black3: hsl(0, 0%, 21%);
$black4: hsl(0, 0%, 29%);
$black5: hsl(0, 0%, 48%);
$black6: hsl(0, 0%, 71%);

$primary: $jet;
$link: $pictorial-carmine;
$warning: $tart-orange;
$success: $black1;
$info: $black4;
$code: $black4;

$input-focus-border-color: $success;
$input-arrow: $success;

$footer-padding: 1.5rem 1.5rem 1.5rem;


//@import "./bulma-0.9.0/bulma.sass";
@import "./bulma-0.9.0/sass/utilities/_all.sass";
@import "./bulma-0.9.0/sass/base/_all.sass";
@import "./bulma-0.9.0/sass/helpers/_all.sass";
@import "./bulma-0.9.0/sass/layout/_all.sass";
//@import "./bulma-0.9.0/sass/components/_all.sass";
@import "./bulma-0.9.0/sass/components/level.sass";
@import "./bulma-0.9.0/sass/components/menu.sass";
@import "./bulma-0.9.0/sass/components/navbar.sass";
@import "./bulma-0.9.0/sass/components/media.sass";
//@import "./bulma-0.9.0/sass/elements/_all.sass";
@import "./bulma-0.9.0/sass/elements/button.sass";
@import "./bulma-0.9.0/sass/elements/container.sass";
@import "./bulma-0.9.0/sass/elements/content.sass";
@import "./bulma-0.9.0/sass/elements/image.sass";
@import "./bulma-0.9.0/sass/elements/other.sass";
@import "./bulma-0.9.0/sass/elements/tag.sass";
@import "./bulma-0.9.0/sass/elements/title.sass";
@import "./bulma-0.9.0/sass/grid/columns.sass";
@import "./bulma-0.9.0/sass/form/_all.sass";


h1 {
  font-size: $size-4 !important;
  font-weight: 300 !important;
}

h2 {
  font-size: $size-5 !important;
  font-weight: 400 !important;
}

h3 {
  font-size: $size-5 !important;
  font-weight: 400 !important;
}

.media {
  border-top: 0px !important;
}

.overflow-fix {
  flex-shrink: unset !important;
}

.breadcrumb {
  word-wrap: break-word !important;
}

@keyframes slidein {
  from {
    transform: scaleY()
  }

  to {
    transform: scale(1);
  }
}

.logo-container {

  display: flex;

  @include tablet {
    flex-direction: column;

    .oakst-title {
    }
  }

  @include mobile {
    flex-direction: row;
    align-items: center;

    .oakst-title {
      margin-bottom: 0px;
    }
  }
}

#navMenu {
  @include mobile {
    margin-top: 0px;
    max-height: 0px;
    overflow-y: hidden;
    background-color: $white-bis;
    transition: max-height .5s ease-out, margin-top .5s ease-out;   

    a {
      padding: 1em !important;
    }
  }
}

.nav-active {
  margin-top: 10px !important;
  max-height: 400px !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-wrapper {
  flex: 1;
}

.content pre {
  white-space: pre-wrap;
  word-break: break-word;
}

.tagbar {
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.is-sticky {
  @include tablet {
    position: sticky !important;
    top: 48px;
  }
}

.content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

