<div class="">
  <figure class="image is-64x64">
    <a href="/">
      <img src="/brand_small.png" />
    </a>
  </figure>
  <br />
  <h1 class="title  is-4 "><a class="has-text-dark" href="/">
      OAK ST. <br />
      ELECTRONICS
    </a>
  </h1>
</div>
<br>
<div class="menu">
  <div class="menu-list ">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ $activeClass := ""}}
      {{ $isActive := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
      {{ $isActive = or $isActive (eq .Name $currentPage.Title) }}
      {{ $isActive = or $isActive (and (eq .Name "Projects") (eq $currentPage.Section "projects"))}}
      {{ $isActive = or $isActive (and (eq .Name "Notes") (eq $currentPage.Section "notes"))}}

    <a class="menu-label pl-0 is-size-6 {{ if $isActive }}has-text-primary{{end}}" href="{{ .URL }}">{{ .Name }}</a></p>
    {{ end }}
  </div>
</div>