<div class="content has-text-right">

    {{ $pageTags := slice "" }}
    {{ range (.GetTerms "tags") }}
    {{ $pageTags = $pageTags | append .LinkTitle}}
    {{ end }}

    {{ range site.Taxonomies.tags }}
    {{ $isActive := or (in $pageTags .Page.LinkTitle) ( eq $.Page.LinkTitle .Page.LinkTitle)}}

    
    <a class="tag {{ if $isActive }} is-link is-light {{ else }} is-white {{ end }}" href="{{ .Page.Permalink }}">
        #{{ .Page.Title }}
        <br>
    </a>
    <br>
    {{ end }}

</div>